html {
    background-color: rgb(194, 188, 188);
    background-image: url(../src/img/bg.jpg);
    background-repeat: no-repeat;
}
#sendButton {
    transition: all 0.5s ease;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

#sendButton:hover {
    background: rgb(141, 207, 141);
}

#sendButton:disabled{
    background-color: rgb(165, 164, 164);
    opacity: 0.5;
}